[Unit]
Description=PowerDeck native privileged power service
Documentation=https://github.com/minh23102011/powerdeck
After=dbus.service polkit.service
Wants=dbus.service

[Service]
Type=dbus
BusName=org.powerdeck.System1
ExecStart=/usr/lib/powerdeck/powerdeckd
Restart=on-failure
RestartSec=2
User=root
Group=root
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectKernelTunables=no
RestrictAddressFamilies=AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
